.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.stagedirection{
     font-family: 'Times New Roman', Times, serif;
     font-size: 15PX;
     color: black;
     background-color: blue;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;    
}

.stagedirection:hover{

    background-color: gray;
    color:white;
}

.damis{
    color: blueviolet;
}

.dorine{
color:green;
}

