.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: yellowgreen;
}

.stagedirection{
     font-family: 'Times New Roman', Times, serif;
     font-size: 15PX;
     color: black;
     background-color: blue;
}

.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: red;    
}

.stagedirection.hover{

    font-family: 'Times New Roman', Times, serif;
    background-color: blueviolet;
    font-size: 15px;
    color: brown;
}

.HAR{
    color: blueviolet;
}

.CLE{
color:green;
}
.JAC{
    color:aqua;
}
